@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model BasicFilmDbProject.Models.Film
@{

    ViewData["Title"] = @Model.FilmTitle;

}
<h1>Films Details</h1>

<p>@Model.FilmTitle</p>